# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_style = tab
indent_size = 4

# JavaScript files
[*.{js,jsx,json}]
indent_style = space
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
reduce_line_breaks = false
trim_trailing_whitespace = false
